#!/bin/bash
# Start script for the gateway server
# Please adapt to your use case
export PATH=$PATH:/usr/local/production/bin
export DNS_DOMAIN=osfci.tech
export CERT_STORAGE=/usr/local/production/certificates/
export STATIC_ASSETS_DIR=/usr/local/production/gateway/
export CREDENTIALS_TCPPORT=:9100
export CREDENTIALS_URI=127.0.0.1
export SMTP_SERVER=osfci.tech:587
export SMTP_ACCOUNT=admin
export SMTP_PASSWORD=0Administrator0
export STORAGE_ROOT=/usr/local/production/storage/
export STORAGE_TCPPORT=:9200
export STORAGE_URI=10.1.1.1
export TTYD_HOST_CONSOLE_PORT=:7681
export TTYD_EM100_BIOS_PORT=:7683
export TTYD_EM100_BMC_PORT=:7682
export TTYD_OS_LOADER=:7684
export CTRL_IP=10.1.1.2
export EXPECT_BMC_IP=10.3.0.88
export BCC_ADDRESS=jean-marie.verdun@hpe.com
export COMPILE_URI=10.1.0.2
export COMPILE_TCPPORT=:9101
/usr/local/production/bin/user &
/usr/local/production/bin/storage &
/usr/local/production/bin/server
